<h1>  Money Saving News </h1>
<mat-card class="example-card" width = 200px;>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Martin Lewis</mat-card-title>
    <mat-card-subtitle>Money Saving Expert</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i2-prod.chroniclelive.co.uk/incoming/article14188904.ece/ALTERNATES/s615b/AGP_MSM_030316MSE_024JPG.jpg" alt="Photo of Martin Lewis">
  <mat-card-content>
    <p>
      Martin Steven Lewis OBE (born 9 May 1972 in Manchester, England) is an English journalist and television presenter. He founded the website <a target="_blank" href="https://www.moneysavingexpert.com/"> MoneySavingExpert.com  </a>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
