<div *ngIf="!access">
  <div class="test">
      <h1> {{pageTitle}}</h1>
  </div>
  <hr>
  <br>
  <div class="log-in">
      <form>
          <input [ngClass]="{'error': usernameError }" placeholder="username" type="text" name="username" [(ngModel)]="userName">
          <br>
          <br>
          <input [ngClass]="{'error': passwordError }" placeholder="password" type="text" name="password" [(ngModel)]="password" input
              type="password">
      </form>
      <br>
      <button class="btn-secondary" [disabled]="ngDoCheck()" type="button" (click)="logIn()">
          Log In
      </button>
  </div>
</div>

<div class="error-message" *ngIf="passwordError">
  <p> Please enter a valid password</p>
</div>

<div class="error-message" *ngIf="usernameError">
  <p> Please enter a valid username</p>
</div>

<div *ngIf="access" class="test">
  <h1> Welcome {{userName}} </h1>

<div *ngFor="let bankAccount of currentUser.bankAccounts">
<mat-card class="example-card" width = 200px;>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <h2> Bank Details</h2>
      <mat-card-title>Name: {{bankAccount.name}}</mat-card-title>
      <mat-card-subtitle>Type: {{bankAccount.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://banner2.kisspng.com/20180423/yqw/kisspng-credit-card-bank-card-debit-card-money-card-card-vector-material-5ade90b29024b7.7754061515245354745904.jpg" alt="Photo of Martin Lewis">
    <mat-card-content>
      <p>
          Balance: {{bankAccount.amount}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
