<ul>
    <li>
      <a href =""  >Money Saving App </a>
    </li>
    <li>
        <a [routerLink]="'eventadder'" routerLinkActive="active">Home</a>
    </li>
    <li>
        <a [routerLink]="'news'" routerLinkActive="active">News</a>
    </li>
    <li>
        <a [routerLink]="'about'" routerLinkActive="active">About</a>
    </li>
    <li *ngIf=!sharedService.signedIn>
      <a [routerLink]="'login'" routerLinkActive="active">Log In</a>
  </li>
  <li *ngIf=sharedService.signedIn>
      <button class="dropbtn">Welcome {{sharedService.username}} <span class="glyphicon glyphicon-log-out"></span></button>
  </li>
  <li *ngIf=sharedService.signedIn>
          <a href="#" (click)="logOut()">Sign Out</a>
  </li>
  <li *ngIf=!sharedService.signedIn>
      <a [routerLink]="'signup'" routerLinkActive="active">Sign Up</a>
</li>
</ul>
<router-outlet></router-outlet>
