 .modal-ku {
    width: 750px;
    }

    .app-modal-window .modal-dialog {
        width: 500px;
      }

      @media (min-width: 992px) {
        .modal-lg {
          width: 1500px;
        }
      }

      @media (min-width: 768px) {
        .modal-xl {
          width: 90%;
         max-width:1200px;
        }
      }