<h1>Create Profile</h1>
<form >
    <label>
      Username:
      <input type="text" required name="username" [(ngModel)]="newUser.username">
    </label>

    <label>
      Password:
      <input type="text" type="password" id="pass" name="password"
      minlength="8" required [(ngModel)]="newUser.password">
    </label>

    <h3>Accounts</h3>
    <button type="submit" (click)="addNewCard()">Add Card</button>
  <div *ngFor="let bankAccount of newBanks">
    <div>
      <h4>Account {{bankAccount.name}}</h4>
      <label>
          Name:
          <input type="text" [(ngModel)]="bankAccount.name" name="something">
        </label>

      <label>
        Bank Account Type:
        <select name="bankType"  [(ngModel)]="bankAccount.type">
            <option value="Current">Current</option>
            <option value="Savings">Savings</option>
            <option value="Stocks">Stocks</option>
          </select>
      </label>

      <label>
        Amount:
        <input type="text" name="amount" [(ngModel)]="bankAccount.amount">
      </label>
    </div>
  </div>

    <div>
      <h3>Direct Debits</h3> <button>Add Direct Debit</button>
    </div>
<br>
    <button type="submit" (click)="onSubmit()">Submit</button>
    <div class="error">
        <p  *ngIf="userCreated === true"
            id="red">
            <i class="fa fa-exclamation-triangle"
                aria-hidden="true"></i> This username has already been created. Please choose a different name
        </p>
    </div>
  </form>

  <hr>

