<h1>Create Profile</h1>
<form >
      <mat-form-field class="example-full-width">
        <input type="text" required name="username" [(ngModel)]="newUser.username" matInput placeholder="Username" value="username">
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <input type="text" type="password" id="pass" name="password" minlength="8" required [(ngModel)]="newUser.password" matInput placeholder="Password" value="password">
      </mat-form-field>

    <h3>Accounts</h3>
    <button type="submit" (click)="addNewCard()">Add Card</button>
    <div *ngFor="let bankAccount of newBanks; let i = index">
      <mat-card>
    <div>
      <h3> {{i+1}}. </h3>
      <h4>Account {{bankAccount.name}}</h4>
      <mat-form-field class="example-full-width">
          <input type="text" [(ngModel)]="bankAccount.name" name="something" matInput placeholder="Name" value="name">
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>Bank Account Type</mat-label>
         <mat-select name="bankType"  [(ngModel)]="bankAccount.type">
            <mat-option value="Current">Current</mat-option>
            <mat-option value="Savings">Savings</mat-option>
            <mat-option value="Stocks">Stocks</mat-option>
          </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <input type="text" name="amount" [(ngModel)]="bankAccount.amount" matInput placeholder="Amount" value="amount">
      </mat-form-field>
    </div>
  </mat-card>
  </div>


    <div>
      <h3>Direct Debits</h3>
      <button (click)="addNewDirectDebit()">Add Direct Debit</button>
    </div>
    <div *ngFor="let directDebit of directDebits; let i = index">
      <mat-card>
      <div>
          <h3> {{i+1}}. </h3>
          <h4>Debit {{directDebit.name}}</h4>
          <mat-form-field class="example-full-width">
              <input type="text" [(ngModel)]="directDebit.name" name="something" matInput placeholder="Name" value="name">
          </mat-form-field>
          <br>
          <mat-form-field>
              <mat-label>Type</mat-label>
            <mat-select name="bankType"  [(ngModel)]="directDebit.type">
                <mat-option value="Weekly">Weekly</mat-option>
                <mat-option value="Monthly">Monthly</mat-option>
                <mat-option value="Quarterly">Quarterly</mat-option>
                <mat-option value="Yearly">Yearly</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
          <mat-form-field class="example-full-width">
            <input type="text" name="amount" [(ngModel)]="directDebit.amount" matInput placeholder="Amount" value="amount">
          </mat-form-field>
          <br>
          <label>
            Date:
              <input class="form-control"
              type="text"
              mwlFlatpickr
              name = "date"
              [(ngModel)]="directDebit.date"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="01 Jan 1970 00:00:00 GMT">
          </label>
          <br>
          <label>
              Bank Account:
             <select name="bankType" [(ngModel)]="directDebit.bankAccount.name">
                 <option *ngFor="let bankAccount of newBanks;" [value]="bankAccount.name">{{bankAccount.name}}</option>
               </select>
           </label>
        </div>
      </mat-card>
      </div>

      <br>
    <button type="submit" (click)="onSubmit()">Submit</button>
    <div class="error">
        <p  *ngIf="userCreated === true"
            id="red">
            <i class="fa fa-exclamation-triangle"
                aria-hidden="true"></i> This username has already been created. Please choose a different name
        </p>
    </div>
  </form>

  <hr>

